
<div class="container-fluid">
  
  <!-- top bar-->
  <div class="row">
    <div class="col-12">
      <app-topheader></app-topheader> <!-- Add TopHeaderComponent here --> 
    </div>
  </div>
   <!-- top bar-->
   <div class="row">
    <div class="col-12 p-0">
      <app-navbar></app-navbar> <!-- Add TopHeaderComponent here --> 
    </div>
  </div>
     <!-- main content latestCourosol-->
     <div class="row">
      <div class="col-12 p-0">
        <app-latestcorusol></app-latestcorusol> <!-- Add TopHeaderComponent here --> 
      </div>
    </div>
  <!-- top menu bar bar-->
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div>
