<div id="topheadernav">
<div class="row justify-content:end">
<div class="col-12 bg-warning">
  <div class="d-flex justify-content-end">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn" data-toggle="tooltip" data-placement="bottom" title="Increase Font Size" (click)="changeFontSize('increase')" >
      <i class="bi bi-plus-circle text-primary"></i>
    </button>
    <button type="button" class="btn" (click)="changeFontSize('decrease')" data-toggle="tooltip" data-placement="bottom" title="Decrease Font Size">
      <i class="bi-dash-circle text-primary"></i></button>
    <button type="button" class="btn" (click)="resetFontSize()" data-toggle="tooltip" data-placement="bottom" title="Default Font Size">
      <i class="bi bi-dice-1 text-primary"></i> </button>
          <a href="mailto:radhe@gmail.com" class="p-2" target="_blank" alt="mail">
            <i class="bi bi-envelope-at"></i>
          </a>
          <a href="mailto:radhe@gmail.com" class="p-2" target="_blank" alt="mail">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="mailto:radhe@gmail.com" class="p-2" target="_blank" alt="mail">
            <i class="bi bi-twitter-x"></i>
          </a>
  </div>
  
</div>
</div>
</div>




       

